body {
  background-color: pink;
  text-align: center;
}

.btn {
  /* text-align: center; */
  border: none;
  color: #ffffff;
  background: cornflowerblue;
  margin-right: 5px;
  margin-top: 5px;
  height: 25px;
}
